
    


<header>
    <div class="container container-fluid">
        <div class="row container-fluid">
            <div class="col-sm-20">
                <nav class="navbar navbar-expand" style="background-color: #cdbecf;">
                    <header class="main-header">
                        <label for="btn-nav" class="btn-nav"><i class="fas fa-bars" style="float: none; "></i></label>
                        <input type="checkbox" id="btn-nav" style="float: none; ">
                        
                        <nav class="la">
                          <ul class="navigation" style="font-weight: bold; color: #cdbecf;">
                            <li><a href="">Home</a></li>
                            <li><a href="/tienda">Tienda</a></li>
                            <li><a href="/nosotros">Nosotros</a></li>
                            <li><a href="">contactanos</a></li>
                          </ul>
                        </nav>
                        
                      </header>
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            <img src="../../../assets/logos/logo-psicositas-5.png" alt="Avatar Logo" style="width:250px;">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav ml-auto">
                                <a href="/login" class="cta btn" style="margin: 5px">Accede</a>
                                <a href="/registro" class="cta btn" style="margin: 5px">Registrarse</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <div class="col-sm-2">
      <div class="card">
        <div class="card-body">
            
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="card">
        <div class="card-body">
            <div class="mi_cont1 "><!------------------------------------------------------------------------------------>
                <div class="geolocalizador">        
                    <section class="knowledge">
                        
                        <div class="knowledge__container container">
                            <div class="knowledege__texts">
                                <div class="col-sm-20">
                                  <app-mapa></app-mapa>
                                </div> 
                                
                            </div>
                
                            <figure class="knowledge__picture">
                                <img src="../../../assets/logos/manos.jpg" class="knowledge__img">
                            </figure>
                        </div>
                    </section>
                </div> 
                   
                
                       
                        <section class="container about">
                            <h2 class="subtitle">¿Para qué sirve la psicopedagogía?</h2>
                            <p class="about__paragraph">La psicopedagogía es una ciencia que se encarga exclusivamente de los procesos de desarrollo dentro del aprendizaje. Mientras que la psicología estudia el comportamiento humano en cualquier ámbito (interpersonal, laboral, emocional, entre otros) y la pedagogía crea nuevos métodos de aprendizaje.</p>
                
                            <div class="about__main">
                                <article class="about__icons">
                                    <img src="../../../assets/logos/paint.jpg" class="about__icon">
                                    <h3 class="about__title">Orientación del alumnado</h3>
                                    <p class="about__paragrah">Llevar a cabo la orientación vocacional de los alumnos, es decir: guiarlos en los itinerarios dentro de la UTNG; o en su inserción dentro del mundo laboral.</p>
                                </article>
                
                                <article class="about__icons">
                                    <img src="../../../assets/logos/shape.jpg" class="about__icon">
                                    <h3 class="about__title">Atención a la diversidad</h3>
                                    <p class="about__paragrah">La Psicopedagogía ofrece los recursos necesarios para la intervención y el desarrollo de programas que atiendan las dificultades de aprendizaje y desarrollo de los alumnos</p>
                                </article>
                
                                <article class="about__icons">
                                    <img src="../../../assets/code.svg" class="about__icon">
                                    <h3 class="about__title">Asesoramiento a la familia</h3>
                                    <p class="about__paragrah">Asesorar a la familia del alumno en las dificultades de aprendizaje de su hijo y al equipo de profesionales (dentro y fuera de la escuela)</p>
                                </article>
                            </div>
                        </section>
                
                        <section class="knowledge">
                            <div class="knowledge__container container">
                                <div class="knowledege__texts">
                                    <h2 class="subtitle">¡Bienvenido/a a nuestra página web de citas psicopedagógicas!</h2>
                                    <p class="knowledge__paragraph">Imagina un lugar donde puedes encontrar herramientas especializadas, recursos didácticos y expertos en psicopedagogía dispuestos a ayudarte en tu camino hacia el éxito académico y personal. Con tan solo un clic, podrás acceder a una amplia gama de contenidos diseñados para estimular tus habilidades cognitivas, fortalecer tu autoestima y mejorar tus técnicas de estudio.</p>
                                    <a href="#" class="cta">Unirme Ahora</a>
                                </div>
                
                                <figure class="knowledge__picture">
                                    <img src="../../../assets/psico4.png" class="knowledge__img">
                                </figure>
                            </div>
                        </section>
                
                        
                
                        
                
                            <section class="questions__offer">
                                <h2 class="subtitle">¿Estas listo/a para agendar tu cita en nuestro departamento psicopedagógico?</h2>
                                <p class="questions__copy">Agendar una cita con nosotros es el primer paso para desbloquear tu potencial y alcanzar tus metas. Nuestro equipo de expertos en psicopedagogía está comprometido en brindarte una atención personalizada y de calidad, adaptada a tus necesidades individuales.</p>
                                
                            </section>
                        
              </div>
        </div>
      </div>
    </div>
  </div>
      
           
 
      
        
  <footer class=" text-center text-white" style="background-color: #cdbecf;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
          eum harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

