@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.conte #body {
    font-family: 'Poppins', sans-serif;
}

.mapa{
    width: 100%;
    height: 80pt;
}

.body-expanded {
    margin-left: var(--width);
}

.p3 {
    float: right;
}

/* Nav */

.nav_log {
    width: 70px;
    height: 5px;
    position: absolute;
    justify-content: center;
    /* Alinea horizontalmente al centro */
    align-items: center;
    /* Alinea verticalmente al centro */
}


/* Hero container */



.cta {
    display: inline-block;
    background-color: #b69d9d;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    border: #1D293F;

}

header {
    background-color: #cdbecf;
}

/* About */

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about__icon {
    width: 40px;
}

/* Knowledge */

.knowledge {
    background-color: #e5e5f7;
    background-image: radial-gradient(#666666 0.5px, transparent 0.5px), radial-gradient(#b7b7b7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture {
    max-width: 500px;
}

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img {
    width: 100%;
    display: block;
}

/* price */




.navbar {
    float: none;
}

.price__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price {
    font-size: 2.5rem;
    color: var(--color-price);
}



.price__cta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* Testimony */


/* Questions */


.questions__padding {
    padding: 0;
    transition: padding .3s;
    border: 1px solid #727272;
    border-radius: 6px;
}

.questions__padding--add {
    padding-bottom: 30px;
}

.questions__answer {
    padding: 0 30px 0;
    overflow: hidden;
}

.questions__title {
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.questions__arrow {
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__arrow--rotate {
    transform: rotate(180deg);
}

.questions__show {
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions__img {
    display: block;
}

.questions__copy {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Footer */

.footer {
    background-color: #343434;
}



.navbar a {

    color: #010101;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    /* Para centrar horizontalmente los botones */

}


/* Estilo para ocultar el input de tipo checkbox */
.toggle {
    display: none;
}

/* Estilo para el botón de hamburguesa */
.toggle-label {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Estilo de la barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    /* Inicialmente oculta la barra lateral */
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    overflow-x: hidden;
    transition: left 0.3s ease;
    padding-top: 60px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

/* Estilo para mostrar la barra lateral cuando el input está marcado */
.toggle:checked+.sidebar {
    left: 0;
}

/* Estilo para desplazar el contenido principal cuando la barra lateral está visible */
.toggle:checked+.sidebar+.content {
    margin-left: 250px;
}

.barra {
    background-color: #572364;
}

.micont2 {
    width: 100%;
    /* El ancho es el 50% del contenedor padre */
    height: 150px;
    /* La altura es fija en 150 pixels */
}

.micont1 {
    width: 300%;
    /* El ancho es el 50% del contenedor padre */
    height: 150px;
    /* La altura es fija en 150 pixels */
}



:root {
    --main-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    overflow: hidden;
}

.main-header {
    background: #cdbecf;
    width: 400%;
    height: 50px;
}

.la {
    position: absolute;
    left: 0;
    top: 0;
    width: 245px;
    top: 90px;
    height: calc(213vh - 50px);
    background: #572364;
    transform: translateX(-100%);
    transition: .4s ease;
    padding: 0;
    margin: 0;
}

.navigation li {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.navigation a {
    color: var(--main-color);
    display: block;
    line-height: 3.5;
    padding: 0 10px;
    text-decoration: none;
    transition: .4s ease;
}

.navigation a:hover {
    transform: translateX(10%);
}

#btn-nav {
    display: none;
}

#btn-nav:checked~nav {
    transform: translateX(0);
}

.btn-nav {
    color: var(--main-color);
    font-size: 35px;

    left: 0;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    cursor: pointer;
    padding: 7.5px 15px;
    transition: .2s ease;
    background: rgba(224, 23, 214, 0.1);
}

.btn-nav:hover {
    background: rgba(156, 6, 139, 0.3);
}