<div class="row-sm"> <!-- CUERPO -->
  <app-barra-cita></app-barra-cita>
  <div class="menu">
    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item">
          <a class="nav-link disable" aria-current="page" href="/validar-cita" style="color: white;">Validar
              Cita</a>
      </li>
      <li class="nav-item">
          <u><a class="nav-link active" aria-current="page" href="/agendar-consultorio"
                  style="background-color: #e6dee7; color: #572364;">Agendar Consultorio</a></u>
      </li>
    </ul>
  </div>
  <div class="container-fluid">
    <!--CARD-->
    <div class="col-md-8 mb-4 mx-auto my-auto">
      <div class="card mb-4" id="formulario">
        <div class="card-header py-3 text-center">
          <h5 class="mb-0">Detalles de la cita</h5>
        </div>
        <div class="card-body">
          <form #citaForm="ngForm" (ngSubmit)="createDetalle(citaForm)">
            <!-- ID CITA -->
            <div class="form-outline mb-4">
              <div class="col-sm-3">
                <label for="id-cita" class="col-form-label">ID Cita:</label>
              </div>
              <div class="col-sm">
                <input type="text" id="id-cita" class="form-control" placeholder="" name="id_libro">
              </div>
            </div>

            <!-- PSICOLOGO -->
            <div class="form-outline mb-4">
              <div class="col-sm">
                <label for="psicologo" class="col-form-label">Psicologo:</label>
              </div>
              <div class="col-sm">
                <select class="form-select" id="psicologo" placeholder="Selecciona psicologo" name="idPsicologo" [(ngModel)]="detalleService.detalle.idPsicologo">
                  <option selected>Selecciona psicologo...</option>
                  <option *ngFor="let item of psicologoService.psicologos" [value]="item.idPsicologo">{{item.nombrePsi+' '+item.apPaternoPsi+' '+item.apMaternoPsi}}</option>
                </select>
              </div>
            </div>

            <!-- CONSULTORIO -->
            <div class="form-outline mb-4">
              <div class="col-sm">
                <label for="psicologo" class="col-form-label">Consultorio:</label>
              </div>
              <div class="col-sm">
                <select class="form-select" id="psicologo" placeholder="Selecciona psicologo" name="idConsultorio" [(ngModel)]="detalleService.detalle.idConsultorio">
                  <option selected>Selecciona el consultorio...</option>
                  <option *ngFor="let item of consultorioService.consultorios" [value]="item.idConsultorio">{{item.nomConsultorio}}</option>
                </select>
              </div>
            </div>

            <!-- FECHA -->
            <div class="form-outline mb-4">
              <div class="col-sm-3">
                <label for="fecha" class="col-form-label">Fecha:</label>
              </div>
              <div class="col-sm">
                <input type="date" id="fecha" class="form-control" placeholder="" name="fecha">
              </div>
            </div>

            <!-- HORA -->
            <div class="form-outline mb-4">
              <div class="col-sm-3">
                <label for="hora" class="col-form-label">Hora:</label>
              </div>
              <div class="col-sm">
                <input type="time" id="hora" class="form-control" placeholder="" name="horario">
              </div>
            </div>

            <div class="row boton"> <!-- BOTÓN GUARDAR-->
              <button type="button" class="btn btn-warning" type="submit">
                <i class="fa-solid fa-floppy-disk" style="color: #FFFFFF;"></i> Guardar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>