<div class="barra-nav">
    <div class="navbar navbar-dark bg-dark navbar-expand-lg"> <!-- "expand-lg" abarca todo el ancho de la pagina-->
        <div class="container">
            <a href="#" class="navbar-brand">
                <strong>Tipo de consultas</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarHeader">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Catalogo</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link ">Contacto</a>
                    </li>
                </ul>

                <a href="/carrito" class="btn btn-primary">Carrito</a>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="container">
        
    </div>
</main>