<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="barra-nav">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container">
                        <a href="#" class="navbar-brand">
                            <strong>Tipo de consultas</strong>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarHeader">
                            <ul class="navbar-nav me-auto mb-lg-0">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">Catálogo</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Contacto</a>
                                </li>
                            </ul>

                            <a href="/carrito" class="btn btn-primary">Carrito</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row g-4">
                <!-- Contenido principal -->
                <form #tipoCitasForm="ngForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="card shadow-sm" *ngFor="let item of tipoCitaService.tipoCitas">
                                    <img [src]="item.imagenUrl" class="card-img-top" height="200" alt="{{ item.nombreCita }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{item.nombreCita}}</h5>
                                        <p class="card-text">Descripción:</p>
                                        <p class="card-text">{{"$"+item.precioCita+".00"}}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <button class="btn btn-outline-success" (click)="addToCart(item)">
                                                <i class="fas fa-cart-plus"></i> Agregar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Contenido en la columna de 4 columnas -->
            <div class="row g-4">
                <div class="col">
                    <app-carrito></app-carrito>
                </div>
            </div>
        </div>
    </div>
</div>
